/UE4forbeginners/Saved
/UE4forbeginners/Content/Resources
/UE4forbeginners/Content/KiteDemo/Environments
/UE4forbeginners/Content/Maps/Level_Chapter1.umap
/UE4forbeginners/Content/HeightMaps
/UE4forbeginners/Content/KiteDemo/LevelContent/HDRI/KimsBackYard.uasset

